.body__cards-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    place-items: center;
    margin: 0 auto;
}


@media screen and (max-width: 2200px) {
    .body__cards-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1100px) {
    .body__cards-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .body__cards-container{
        grid-template-columns: repeat(1, 1fr);
    }
}